<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462353741427-0nuvngovk0ftfrscjjb0vc35kf4tquip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462353741427-0nuvngovk0ftfrscjjb0vc35kf4tquip</string>
	<key>API_KEY</key>
	<string>AIzaSyDWQTij2S5l2K5Txaaeuv81A5bxd12F0Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>462353741427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.moblivreteste</string>
	<key>PROJECT_ID</key>
	<string>biolivre-df492</string>
	<key>STORAGE_BUCKET</key>
	<string>biolivre-df492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462353741427:ios:6abc911c0c9fa3a31c1c06</string>
</dict>
</plist>